%h1 Listing users

%table
  %tr
    %th Email
    %th Name
    %th Password

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.name
      %td= user.password

%br

= link_to 'New User', new_user_path
